
    <form class="form-group" class="container" >
       <br> 
        <ul style="list-style-type: none;">
            <li>
            <label for="Email">Email:</label> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
            <input type="text" class="form-control col-sm-5" required maxlength="20" minlength="2" ngModel name="email" #email="ngModel">    
            </li>
        <br>   
        <li>
            <label for="Password">Password:</label> &nbsp; 
            <input type="text" class="form-control col-sm-5" name="Password">
        </li>
        <br>
        <br>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="button btn-primary"  type="button" (click)="onLogin()" >Save</button> &nbsp;   
        <button class="button btn-primary"  type="reset" (click)="onCancel()">Cancel</button>
    </ul>
    </form>
    <br>
    <pre *ngIf="show" style="list-style-type: none;" class='sav'>
        Saved Succefully 
    </pre>

    