
<nav class="navbar navbar-expand-lg  bg-info navbar-light">
    <p class="navbar-brand"><b>
      <span style="color: rgb(70, 90, 121);">S</span>
      <span style="color: rgba(3, 3, 3, 0.616);">T</span>
      <span style="color: white;">O</span>
      <span style="color: #970101;">R</span>
      <span style="color: #000000;">E</span> MANAGEMENT</b></p>
    <h4><marquee>Welcome to Store</marquee></h4>
    <ul class="nav navbar-nav">  
          <li class="active">
            <a [routerLink]="['home']">Home</a> &nbsp; &nbsp;
            <a [routerLink]="['register']">Register</a> &nbsp; &nbsp; 
            <a [routerLink]="['login']">Login</a>      
          </li>
    </ul>
 
 <router-outlet></router-outlet>
</nav>


