<br>
<br>
<form class="form-inline" action="/action_page.php">
&nbsp;&nbsp;    <label for="FirstName">FirstName:</label> &nbsp; &nbsp;&nbsp; 
    <input type="email" class="form-control" placeholder="Enter FirstName" id="FirstName" #firstName><br><br>
&nbsp;&nbsp;    <label for="email">LastName:</label> &nbsp; &nbsp;&nbsp; 
    <input type="email" class="form-control" placeholder="Enter LastName" id="LastName" #lastName><br><br>
&nbsp;&nbsp;    <label for="email">Email address:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email" #Email><br><br>
&nbsp;&nbsp;    <label for="pwd">Password:</label> &nbsp; &nbsp; &nbsp;
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" #Password><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
    <button type="submit" class="btn btn-primary" (click)="onSubmit(firstName.value,lastName.value,Email.value,Password.value)">Submit</button> 
    &nbsp;  
    <button type="reset" (click)="onClear()">Clear</button>  
</form> <br>
<div *ngIf="show" >
<h2>&nbsp; &nbsp; &nbsp; Your Registered Details:</h2>
<h3 style="color:lime;"><span style="color:white;">
    &nbsp; &nbsp; First Name:</span> {{firstName.value}}</h3>
<h3 style="color:lime;"><span style="color:white;">
    &nbsp; &nbsp; LastName:</span>&nbsp; {{lastName.value}}</h3>
<h3 style="color:lime;"><span style="color:white;">
    &nbsp; &nbsp; Email:</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{Email.value}}</h3>
<h3 style="color:lime"><span style="color:white;">
    &nbsp; &nbsp; Password:</span> &nbsp;{{Password.value}}</h3>   
</div>